/* Style the video: 100% width and height to cover the entire window */
body{
  background: #304a65;

}
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}

/* Add some content at the bottom of the video/page */
.video-content {
  position: fixed;
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
  margin: auto;

}

.logo{
  font-family: 'Covered By Your Grace', cursive;
  font-size: 250px;
}

/* Landscape phones and down */
@media (max-width: 480px) { 
  .logo{
    font-family: 'Covered By Your Grace', cursive;
    font-size: 20px;
  }
}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 
  .logo{
    font-family: 'Covered By Your Grace', cursive;
    font-size: 40px;
  }

}
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 1199px) { 
  .logo{
    font-family: 'Covered By Your Grace', cursive;
    font-size: 70px;
  }
}


.tagline {
  font-family: 'Comfortaa', cursive;
  font-size: 40px;
}

/* Landscape phones and down */
@media (max-width: 480px) { 
  .tagline {

    font-size: 20px;
  }
}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 
  .tagline {

    font-size: 40px;
  }

}
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 1199px) { 
  .tagline {

    font-size: 40px;
  }
}


.login-btn{

  background: #54727d;
  padding-right: 15px;
  padding-left: 15px;
  margin: center;

}
.login-btn h6{
  font-family: 'Covered By Your Grace', cursive;
  font-size: 40px;
  color: rgb(50, 38, 66);
}

.search-btn{

  background: #54727d;
  padding: 10px;
  margin: center;
  margin: 10px;
  font-family: 'Comfortaa', cursive;
  font-size: 30px;
  color: #d39391;

  /* text-decoration: none; */
}

.search-page-btn{
  background: #8260a3ab;
  margin: 5px;
  
}
.search-page-btn div:hover{
  background: #d5c1e9ab;
  color:#441572;

  
}
.search-btn a{

  font-family: 'Comfortaa', cursive;
  font-size: 30px;
  color: #ffb2af;
  font-weight: 900;
}

.finalize-btn{
align-content: center;
margin: 20px;
}
p, a, h2, h3, h4 {
  
  font-family: 'Comfortaa', cursive;
  color: rgb(253, 242, 255);
}

h4{
  text-align: center;
}
input, select, textarea{
  font-family: 'Comfortaa', cursive;
  color: rgb(253, 242, 255);
}

nav{
  background: #54727dbb;

}

#homeVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  z-index: -10;
}

.content{
  background: #54727da0;
  margin: 20px;
   margin-left:60px;
  width: 100%;
  height: 600px;
  padding-top: 0;
}

.sidebar{
  /* background: #54727dbb; */
  margin: 20px;
  height: 95%;
  overflow: auto;

}

.map {
  margin-right: 40px;
}
form{
  padding-left:20px;
  padding-right:20px;
}
.main-content{
  /* background: #54727dd0; */
  margin: 20px;
  height: 95%;
  overflow: auto;

}

.search-sidebar{
  background: #bd96d3bb;
  margin: 20px;
}

.search-main-content{
  background: #bd96d3bb;
  margin: 20px;
}


/* Modal Styling */

.result-name{
color: rgb(68, 21, 114);
font-weight: 900;
}

.result-body{
  color: rgb(61, 69, 141)
}