/* Style the video: 100% width and height to cover the entire window */
body{
  background: #304a65;

}
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}

/* Add some content at the bottom of the video/page */
.content {
  position: fixed;
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
  margin: auto;

}

.logo{
  font-family: 'Covered By Your Grace', cursive;
  font-size: 250px;
}

.tagline {
  font-family: 'Comfortaa', cursive;
  font-size: 40px;
}

.login-btn{

  background: #54727d;
  padding-right: 15px;
  padding-left: 15px;
  margin: center;

}
.login-btn h6{
  font-family: 'Covered By Your Grace', cursive;
  font-size: 40px;
  color: rgb(50, 38, 66);
}

.search-btn{

  background: #72798100;
  padding: 10px;
  margin: center;
  margin: 30px;
  font-family: 'Comfortaa', cursive;
  font-size: 30px;
  color: #d39391;
  border:none;
  /* text-decoration: none; */
}

.search-btn a{

  font-family: 'Comfortaa', cursive;
  font-size: 30px;
  color: #ffb2af;
  font-weight: 900;


}
p, a, h2 {
  
  font-family: 'Comfortaa', cursive;
  color: rgb(253, 242, 255);
}

nav{
  background: #54727dbb;

}

#homeVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  z-index: -4;
}

.sidebar{
  background: #54727dbb;
  margin: 20px;
}

.main-content{
  background: #54727dbb;
  margin: 20px;

}

.search-sidebar{
  background: #bd96d3bb;
  margin: 20px;
}

.search-main-content{
  background: #bd96d3bb;
  margin: 20px;
}